# Ignorar todos os arquivos e pastas, exceto o código-fonte
*
!.gitignore
!**/*.cs
!**/*.csproj
!**/*.sln
!**/*.config
!**/*.aspx
!**/*.ascx
!**/*.asmx
!**/*.asax
!**/*.master
!**/*.svc
!**/*.ashx
!**/*.resx
!**/*.resources
!**/*.licx
!**/*.rdlc
!**/*.rpt
!**/*.xsd
!**/*.xslt
!**/*.xml
!**/*.css
!**/*.js
!**/*.html
!**/*.htm
!**/*.txt
!**/*.md
!**/*.json
!**/*.png
!**/*.jpg
!**/*.jpeg
!**/*.gif
!**/*.bmp
!**/*.ico
!**/*.svg

# Ignorar diretório .vs
.vs/
